<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" id="navbarLogo" href="/">Acebook :]</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <p class="float-right right-nav" id="main-navbar">
    <%= link_to 'Log in', new_user_session_path, :class => 'navbar-link', id: "navbarUserDetails" %> |
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link log-out-link', id: "navbarUserDetails"   %>
    </p>
  </div>
</nav>
