<nav class="navbar  navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid navbar-text ">
    <%= link_to root_path do %>
      AceBook :]
    <% end %>
  
    <p class="float-right" id="main-navbar">
      Logged in as <strong><%= current_user.name %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link', id: "navbarUserDetails" %> |
      <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'navbar-link', id: "navbarUserDetails"   %>
    </p>
  </div>
</nav>
