<h1> Main Feed </h1>

<% @posts.each_with_index do |post, index| %>
  <div>
    <%= link_to post do %>
      <%= render post %>
    <% end %>
    <%= link_to "#{pluralize(post.comments.count, "Comment")}", post %>
    <%= render 'post_likes/form', { post: post, post_like: post.post_likes.build } %>
  </div>
<% end %>

